<!DOCTYPE html>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
     <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">


<!-- .container is main centered wrapper -->
<div class="container">
  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="twelve columns">
      <img id="logo" src="/img/logo.png"/>

      <h1>your next meal is ...</h1>
      <h3>{{title}}</h3><br>
       <a href="{{source_url}}"><img src="{{image_url}}" alt ="{{name}}"></a>
       {{recipe}}
    </div>
    <p>Click the image to view the recipe.</p>
     <button class="submit" id="find"><a href="/">search new</a></button>
  </div>

</div>
