<h1>PUT THE RESULT OF THE RECIPE HERE</h1>
<nav>
  <a class="link" href="/cats/">Homepage</a>
</nav>

<ul id = 'cats'>
  <li>
 <h3>{{name}}</h3><br>
 <img src="{{image}}" alt = "{{name}}"><br><br>
 {{description}}</li>
</ul>

<a class="link" href="/cats/edit/{{id}}">Edit Cat</a>
